@import url(/css/responsive.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*------------------------------------- Spacing -------------------------------------*/

:root {
    /* Padding, Margin and Font Size*/
    --very-very-small: 2px;
    --very-small: 4px;
    --small: 8px;
    --medium: 16px;
    --big: 24px;
    --xxl: 32px;
    --2xxl: 48px;
    --3xxl: 64px;

    /* Colors */
    --white: white;
    --black: black;
}

/*-------------------------------------HIDDEN-------------------------------------*/

.hidden {display: none;}

/*------------------------------------- Mobile -------------------------------------*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--small) var(--small) var(--medium) var(--small);
    margin: 0 auto;
    background-color: #222;

    border-bottom: 1px solid #444;
}

/*------------------------------------- LOGIN BTN TOGGLE -------------------------------------*/

#loginBtnContainer {
    display: flex;
    justify-content: space-between;
}

.login-language-btns-styles {
    width: 50px;
    height: 40px;
    margin-right: var(--very-small);
    margin-bottom: var(--very-very-small);

    border: 1px solid black;
    border-radius: var(--small);
    background-color: var(--white);
    color: var(--black);
}



/*------------------------------------- LOGIN CONTAINER -------------------------------------*/
.login-container {
    display: none;
    text-align: center;
    max-width: 200px;
    margin-right: var(--very-small);

    border: 1px solid var(--white);
    border-radius: var(--small);

    padding: var(--small);
}

.login-container h2 {
    font-size: var(--medium);

    padding-bottom: var(--small);
}

.login-container input {
    border: 1px solid var(--black);
    border-radius: var(--very-small);
}

.login-container input::placeholder {
    color: black;
}

.login-submit-btn-container {
    padding-top: var(--very-small);
}

.login-submit-btn {
    border: 1px solid black;
    border-radius: var(--very-small);
    background-color: var(--white);
    color: var(--black);
}

/*------------------------------------- MAIN LOGO -------------------------------------*/

.main-logo-container {
    width: 50px;
}

.main-logo-container img {
    width: 100%;
    border-radius: var(--xxl);
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;
    padding: var(--medium) 0 var(--medium) 0;

    background-color: #222;
}

.main-section-supermarket {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: var(--2xxl);
    width: 150px;
    height: 170px;
    margin: var(--small);
}

/*------------------------------------- LOGOS DE LOS SUPERMERCADOS -------------------------------------*/

#carrefour {
    background-image: url(/images/logos/carrefour-logo.png);
    background-size: cover;
    background-position: center;
}

#mercadona {
    background-image: url(/images/logos/mercadona-logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#dialprix {
    background-image: url(/images/logos/dialprix-logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#dia {
    background-image: url(/images/logos/dia-logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#products {
    background-image: url(/images/logos/mercadona-logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#products-list {
    background-image: url(/images/logos/products-list-logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*------------------------------------- FOOTER -------------------------------------*/

.footer-main-container {
    padding: 30px 20px;

    background-color: #222;
    color: white;


    font-family: sans-serif;
}

.footer-positioning-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1200px;

    margin: auto;

    gap: 20px;
}

.footer-sections-container {
    flex: 1;
    min-width: 200px;
}

.footer-sections-container h3 {
    margin-bottom: var(--medium);
    padding-top: var(--big);

    border-top: 1px solid #444;
}

.footer-sections-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-sections-container ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-social-network-container {
    margin-top: 10px;
}

.footer-social-network-container a {
    color: #ccc;
    margin-right: 10px;
}

.footer-rigths-box {
    text-align:center; 

    margin-top:30px; 
    border-top:1px solid #444; 
    padding-top:15px; font-size:14px; 
    
    color:#aaa;
}

/*-------------------------------------SUPERMARKETS BANNERS CONTAINER-------------------------------------*/

.supermarket-banners-container {
    width: 200px;
    height: 70px;

    margin: 0 auto;
}

.supermarket-banners-container img {
    width: 100%;
    height: 100%;

    border-radius: var(--big);
}

/*-------------------------------------SUPERMARKET-------------------------------------*/
.products-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    padding-top: var(--big);
}

.supermarket-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    padding: var(--small) 0 var(--small) 0;

    background-color: #222;
}

/*-------------------------------------JAVASCRIPT STYLES-------------------------------------*/

.product {
    display: flex;
    flex-direction: column;
    
    max-width: 200px;
    min-width: 200px;
    max-height: 100px;
    min-height: 100px;

    margin: 0 auto;

    border: 1px solid #ccc;
    border-radius: var(--medium);
    padding: var(--small);
    margin-bottom: var(--medium);
}

.food-name {
    flex: 1;
    color: var(--white);
    font-size: var(--medium);
}

.food-supermarket {
    flex: 1;
    align-self: flex-start;
    color: var(--white);
}

.add-list-button {
    flex: 1;

    width: 50px;
    
    font-size: var(--big);
    align-self: center;
    text-align: center;

    color: white;


    border: 1px solid white;
    border-radius: var(--medium);
}